body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #841519;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

.card {
  background-color: white;
  margin-bottom: 30px;
  padding: 5px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.main-image {
  width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}
.sub-image {
  width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

h2, h3 {
  color: #333;
  font-weight: bold;
}
a {
  color: #fff;
}
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  margin-top: 30px;
}
